-
  switches = [
    {
      id: 0,
      title: 'Популярные товары',
    },
    {
      id: 1,
      title: 'Акционные товары',
    },
  ];
-
  collections = [
    {
      id: 0,
      title: 'Supreme',
    },
    {
      id: 1,
      title: 'Tempest',
    },
    {
      id: 2,
      title: 'Aspen',
    },
    {
      id: 3,
      title: 'Metallic',
    },
    {
      id: 4,
      title: 'Mosaic',
    },
    {
      id: 5,
      title: 'Pebble',
    },
    {
      id: 6,
      title: 'Sanded',
    },
    {
      id: 7,
      title: 'Solid',
    },
    {
      id: 8,
      title: 'Quarry',
    },
  ];
-
  colors = [
    {
      id: 0,
      src: 'images/content-catalog-1.jpg',
    },
    {
      id: 1,
      src: 'images/content-catalog-2.jpg',
    },
    {
      id: 2,
      src: 'images/content-catalog-3.jpg',
    },
    {
      id: 3,
      src: 'images/content-catalog-4.jpg',
    },
    {
      id: 4,
      src: 'images/content-catalog-5.jpg',
    },
    {
      id: 5,
      src: 'images/content-catalog-6.jpg',
    },
    {
      id: 6,
      src: 'images/content-catalog-7.jpg',
    },
    {
      id: 7,
      src: 'images/content-catalog-8.jpg',
    },
  ];
link(rel="stylesheet", href="css/page/collection/filter.css")
script(src="js/page/collection/filter.js")
section(class="collection_filter")
  div(class="filters")
    div(class="title-wrapper")
      button(type="button", class="btn-filter-title")
        span
          | Фильтры по продукции
        include ../../partials/svg/filter

    div(class="body-wrapper md-hidden")
      div(class="input-wrapper")
        input(type="search", id="filter-search", class="input", placeholder="Поиск по названию")
        include ../../partials/svg/search

      div(class="switches")
        each sw in switches
          div
            input(id=`filter-switch-${sw.id}`, name="filter-switch[]", type="checkbox", value=`${sw.id}`)
            label(for=`filter-switch-${sw.id}`, class="switch-label")
              = sw.title

      details(class="spoiler")
        summary(class="spoiler-head")
          span
            | Коллекция
          include ../../partials/svg/chevrone-top
        div(class="spoiler-body collections")
          each collection in collections
            div
              input(id=`filter-collection-${collection.id}`, name="filter-collection[]", type="checkbox", value=`${collection.id}`)
              label(for=`filter-collection-${collection.id}`, class="checkbox-collection")
                = collection.title

      details(class="spoiler")
        summary(class="spoiler-head")
          span
            | Цвет
          include ../../partials/svg/chevrone-top
        div(class="spoiler-body colors")
          each color in colors
            div
              input(id=`filter-color-${color.id}`, name="filter-color[]", type="checkbox", value=`${color.id}`)
              label(for=`filter-color-${color.id}`, class="checkbox-color")
                img(src=`${color.src}`, alt="")

      div(class="links")
        a(href="exploitation_and_care.html", class="link")
          span
            | Эксплуатация и уход
          include ../../partials/svg/triangle
        a(href="docs-sizes.html", class="link")
          span
            | Документация
          include ../../partials/svg/triangle

  button(type="button", class="button circuit filter_reset md-hidden")
    span
      | Сбросить фильтры
    include ../../partials/svg/reset